@keyframes animateClouds {
    0% {
        margin-top: 10vh;
    }
    90% {
        visibility: hidden;
      }
    100% {
        visibility: hidden;
        margin-top: -250vh;
    }
}

.cloudGroup {
    background: url("../assets/CloudGroup.png") no-repeat;
    image-rendering: pixelated;
    background-size: contain;
	position: absolute;
    overflow: hidden;
    top: -20vh;
    left: -20vw;
    height: 100vw;
    width: 150vw;
    -webkit-animation: animateClouds 15s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
	-moz-animation: animateClouds 15s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
	animation: animateClouds 15s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.island {
    background: url("../assets/Island.png") no-repeat;
    background-size: contain;
    background-position: center center;
	position: absolute;
    overflow: hidden;
    top: 15vh;
    left: 20vw;
    height: 70vh;
    min-width: 60vw;
    max-width: 60vw;
}


.chemistry {
    position: absolute;
    top: 22.5vh;
    left: 27.6vw;
    height: auto;
    width: 6vw;
  }
  
  .chemistry:hover {
    width: 6.2vw;
    filter: brightness(50%);
    cursor: pointer;
  }

  .professionalism {
    position: absolute;
    top: 28.1vh;
    left: 42.4vw;
    height: auto;
    width: 8vw;
  }
  
  .professionalism:hover {
    width: 8.2vw;
    filter: brightness(50%);
    cursor: pointer;
  }

  .arts {
    position: absolute;
    top: 22vh;
    right: 39.4vw;
    height: auto;
    width: 5vw;
  }
  
  .arts:hover {
    width: 5.1vw;
    filter: brightness(50%);
    cursor: pointer;
  }

  .break {
    position: absolute;
    top: 36.7vh;
    left: 63.4vw;
    height: auto;
    width: 10vw;
  }
  
  .break:hover {
    width: 10.3vw;
    filter: brightness(70%);
    cursor: pointer;
  }

  .calculus {
    position: absolute;
    top: 50.5vh;
    left: 50.6vw;
    height: auto;
    width: 10vw;
  }
  
  .calculus:hover {
    width: 10.3vw;
    filter: brightness(50%);
    cursor: pointer;
  }

  .physics {
    position: absolute;
    top: 51.1vh;
    left: 29.5vw;
    height: auto;
    width: 12vw;
  }
  
  .physics:hover {
    width: 12.5vw;
    filter: brightness(50%);
    cursor: pointer;
  }

  .trophy {
    position: absolute;
    top: 5vh;
    right:5vw;
    height: auto;
    width: 5vw;
  }
  
  .trophy:hover {
    width: 5.1vw;
    filter: brightness(50%);
    cursor: pointer;
  }