html,
body {
    padding: 0;
    margin: 0;
}

.chat-container-main{
    background-image: "client/src/assets/Background.svg"
}

.chat-element p {
    color:black;
}

.leff-text-wrapper {
    color: black;
}