html,
body {
    padding: 0;
    margin: 0;
}

.chat-container-main{
<<<<<<< Updated upstream
    background-image: linear-gradient(to bottom right, blue, gray);
=======
    background-image: "client/src/assets/Background.png"
>>>>>>> Stashed changes
}

.chat-element p {
    color:black;
}

.chat-container-left {
    color: black;
}